<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>DZMITRY MARTAVOI</h1>
            <hr>
            <p>
                Welcome, my name is Dzmitry. I am a software developer from Minsk Belarus who loves to write software to build great products and help businesses succeed with their goals. I appreciate good design and I am seeing it's importance more then ever in todays apps, web sites and products.
                I am an aspiring entrepreneur who subscribes to the lean startup ideology and creator of "positive affirmations", a app for Android. I have been working professionally in software development since 2012 in the web and enterprise spaces with experience across the finance, transport and media domains. I occasionally dabble in game development and music writing/producing.
            </p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>