@using System.Threading.Tasks
@using home.ViewComponents.Home
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="dzmitry martavoi portfolio">
    <meta name="author" content="dzmitry martavoi">

    <link type="text/css" rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/node_modules/animate.css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="~/node_modules/font-awesome/css/font-awesome.min.css" type="text/css">

    <link rel="stylesheet" href="~/home/home.css" type="text/css">

    <title> Dzmitry Martavoi </title>
</head>

<body id="page-top" data-spy="scroll" data-trigger=".navbar-fixed-top" data-offset="50">
@await Component.InvokeAsync(typeof (Navigation))

@await Component.InvokeAsync(typeof(About))

<section id="services">
    @await Component.InvokeAsync(typeof (Services))
</section>
<section class="no-padding" id="portfolio">
    @await Component.InvokeAsync(typeof (Portfolio))
</section>
<section id="contact">
    @await Component.InvokeAsync(typeof (Contact))
</section>

<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/node_modules/jquery.easing/jquery.easing.min.js"></script>
<script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="~/home/home.js" type="text/javascript"></script>
</body>
</html>